.van-nav-bar__content {
  background-color: #439ffa;
}
.van-nav-bar__content .van-icon {
  color: white;
}
.van-nav-bar__content .van-nav-bar__text,
.van-nav-bar__content .van-nav-bar__title {
  color: white ;
}
